{
    "extends": ["alloy", "alloy/react", "plugin:prettier/recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
        // "mocha": true,
        // "jest": true,
        // "jquery": true
    },
    "globals": {},
    "rules": {
        "no-invalid-this": "off",
        "react/no-unsafe": "off"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}