<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- for mobile -->
        <meta
            name="viewport"
            content="initial-scale=1.0,maximum-scale=1.0,minimum-scale1.0,user-scalable=no,viewport-fit=cover"
        />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body ontouchstart>
        <div id="content"></div>
        <div id="modal"></div>
        <script src="./lib/react.min.js"></script>
        <script src="./lib/react-dom.min.js"></script>
        <!-- built files will be auto injected -->
    </body>
</html>
